title: Jawira blog
description: Blog about my personal projects.

remote_theme: jekyll/minima
minima:
  skin: auto
  social_links:
    twitter: jawira
    github: jawira

plugins:
  - jekyll-feed
  - jekyll-remote-theme

exclude:
  - README.md
  - build.xml
  - build.svg
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
